## Clean Data

Clean data based on EDA analysis. Those features are going to be removed.
  
- recorded_by is the same for all the samples, need to be removed
- num_private has most missing values (98.7%), need to be removed
- amount_tsh has 2nd most missing values (70%), need to be removed
- scheme_name has 47.418% samples with missing value, need to be removed
- wpt_name and subvillage due to so many unique values

- “lga”,“region”,“basin” ,correlated other region information
- “extraction_type_group”,“extraction_type_class”, correlated with ‘extraction_type’
- “management_group”, correlated with ‘management’
- “payment_type”, correlated with ‘payment’
- “quality_group”, correlated with ‘quality’
- “quantity_group”, correlated with ‘quantity’
- “source_type”,“source_class”, correlated with ‘source’
- “waterpoint_type_group”, correlated with ‘waterpoint_type’

In [39]:
import pandas as pd
import numpy as np
import datetime
d = pd.read_csv("../data/train.csv")
d2 =d

In [40]:
    ids = d['id']
    d = d.drop(labels=['id'],axis=1)
  
    ## Removing those features ###
    # recorded_by is the same for all the samples, need to be removed
    # num_private has most missing values (98.7%), need to be removed
    # amount_tsh has 2nd most missing values (70%), need to be removed
    # scheme_name has 47.418% samples with missing value, need to be removed
    # wpt_name and subvillage due to so many unique values
    # 
    # “lga”,“region”,“basin” ,correlated other region information
    # “extraction_type_group”,“extraction_type_class”, correlated with ‘extraction_type’
    # “management_group”, correlated with ‘management’
    # “payment_type”, correlated with ‘payment’
    # “quality_group”, correlated with ‘quality’
    # “quantity_group”, correlated with ‘quantity’
    # “source_type”,“source_class”, correlated with ‘source’
    # “waterpoint_type_group”, correlated with ‘waterpoint_type’
    removed_labels = ['recorded_by','num_private','scheme_name','wpt_name','subvillage',
                      'lga','region','basin',
                      'extraction_type_group','extraction_type_class',
                      'management_group',
                      'payment_type',
                      'quality_group',
                      'quantity_group',
                      'source_type','source_class',
                      'waterpoint_type_group']
    d = d.drop(labels=removed_labels,axis=1)
    
    ### Convert 0 into NA
    d.loc[d.funder=="0",'funder'] = np.NAN  
    d.loc[d.installer=="0",'installer']= np.NAN
    d.loc[d.installer=="-",'installer']= np.NAN
    d.loc[d.longitude==0,'longitude'] = np.NAN
    d.loc[d.district_code==0,'district_code'] = np.NAN
    d.loc[d.construction_year==0,'construction_year'] = np.NAN
    
    ### date_recorded into year, month, week and days to 2014-01-01
    d['date_recorded_year'] =  [date.split("-")[0] for date in d.date_recorded]
    d['date_recorded_month'] = [date.split("-")[1] for date in d.date_recorded]
    d['date_recorded_week'] = [datetime.datetime.strptime(date,"%Y-%m-%d").weekday()  for date in d.date_recorded]
    d['date_recorded_offset_days'] = [(datetime.datetime(2014,1,1) - datetime.datetime.strptime(date,"%Y-%m-%d")).days for date in d.date_recorded]
    
    d = d.drop(labels="date_recorded",axis=1)

In [42]:
d.head()

,amount_tsh,funder,gps_height,installer,longitude,latitude,region_code,district_code,ward,population,...,management,payment,water_quality,quantity,source,waterpoint_type,date_recorded_year,date_recorded_month,date_recorded_week,date_recorded_offset_days
0,6000.0,Roman,1390,Roman,34.938093,-9.856322,11,5.0,Mundindi,109,...,vwc,pay annually,soft,enough,spring,communal standpipe,2011,03,0,1024
1,0.0,Grumeti,1399,GRUMETI,34.698766,-2.147466,20,2.0,Natta,280,...,wug,never pay,soft,insufficient,rainwater harvesting,communal standpipe,2013,03,2,301
2,25.0,Lottery Club,686,World vision,37.460664,-3.821329,21,4.0,Ngorika,250,...,vwc,pay per bucket,soft,enough,dam,communal standpipe multiple,2013,02,0,310
3,0.0,Unicef,263,UNICEF,38.486161,-11.155298,90,63.0,Nanyumbu,58,...,vwc,never pay,soft,dry,machine dbh,communal standpipe multiple,2013,01,0,338
4,0.0,Action In A,0,Artisan,31.130847,-1.825359,18,1.0,Nyakasimbi,0,...,other,never pay,soft,seasonal,rainwater harvesting,communal standpipe,2011,07,2,903

In [43]:
character_features_df = d.loc[:, d.dtypes == object]
print(character_features_df.dtypes)
character_features_df.head()

funder                 object
installer              object
ward                   object
public_meeting         object
scheme_management      object
permit                 object
extraction_type        object
management             object
payment                object
water_quality          object
quantity               object
source                 object
waterpoint_type        object
date_recorded_year     object
date_recorded_month    object
dtype: object

,funder,installer,ward,public_meeting,scheme_management,permit,extraction_type,management,payment,water_quality,quantity,source,waterpoint_type,date_recorded_year,date_recorded_month
0,Roman,Roman,Mundindi,True,VWC,False,gravity,vwc,pay annually,soft,enough,spring,communal standpipe,2011,03
1,Grumeti,GRUMETI,Natta,NaN,Other,True,gravity,wug,never pay,soft,insufficient,rainwater harvesting,communal standpipe,2013,03
2,Lottery Club,World vision,Ngorika,True,VWC,True,gravity,vwc,pay per bucket,soft,enough,dam,communal standpipe multiple,2013,02
3,Unicef,UNICEF,Nanyumbu,True,VWC,True,submersible,vwc,never pay,soft,dry,machine dbh,communal standpipe multiple,2013,01
4,Action In A,Artisan,Nyakasimbi,True,NaN,True,gravity,other,never pay,soft,seasonal,rainwater harvesting,communal standpipe,2011,07

In [44]:
charF_nunique = character_features_df.apply(pd.Series.nunique)
## charF_nunique
aa  = pd.DataFrame({"feature":charF_nunique.index,"number":charF_nunique})
aa = aa.sort_values("number")
aa

                                 feature  number
public_meeting            public_meeting       2
permit                            permit       2
quantity                        quantity       5
date_recorded_year    date_recorded_year       5
payment                          payment       7
waterpoint_type          waterpoint_type       7
water_quality              water_quality       8
source                            source      10
scheme_management      scheme_management      12
management                    management      12
date_recorded_month  date_recorded_month      12
extraction_type          extraction_type      18
funder                            funder    1896
ward                                ward    2092
installer                      installer    2143

In [38]:
d.loc[d.installer=="0",'installer']= np.NAN

In [ ]:
def clean_dat(d):
    ids = d['id']
    d = d.drop(labels=['id'],axis=1)
  
    ## Removing those features ###
    # recorded_by is the same for all the samples, need to be removed
    # num_private has most missing values (98.7%), need to be removed
    # amount_tsh has 2nd most missing values (70%), need to be removed
    # scheme_name has 47.418% samples with missing value, need to be removed
    # wpt_name and subvillage due to so many unique values
    # 
    # “lga”,“region”,“basin” ,correlated other region information
    # “extraction_type_group”,“extraction_type_class”, correlated with ‘extraction_type’
    # “management_group”, correlated with ‘management’
    # “payment_type”, correlated with ‘payment’
    # “quality_group”, correlated with ‘quality’
    # “quantity_group”, correlated with ‘quantity’
    # “source_type”,“source_class”, correlated with ‘source’
    # “waterpoint_type_group”, correlated with ‘waterpoint_type’
    removed_labels = ['recorded_by','num_private','scheme_name','wpt_name','subvillage',
                      'lga','region','basin',
                      'extraction_type_group','extraction_type_class',
                      'management_group',
                      'payment_type',
                      'quality_group',
                      'quantity_group',
                      'source_type','source_class',
                      'waterpoint_type_group']
    d = d.drop(labels=removed_labels,axis=1)
    
    ### Convert 0 into NA
    d.loc[d.funder=="0",'funder'] = np.NAN  
    d.loc[d.installer=="0",'installer']= np.NAN
    d.loc[d.installer=="-",'installer']= np.NAN
    d.loc[d.longitude==0,'longitude'] = np.NAN
    d.loc[d.district_code==0,'district_code'] = np.NAN
    d.loc[d.construction_year==0,'construction_year'] = np.NAN
    
    ### date_recorded into year, month, week and days to 2014-01-01
    d['date_recorded_year'] =  [date.split("-")[0] for date in d.date_recorded]
    d['date_recorded_month'] = [date.split("-")[1] for date in d.date_recorded]
    d['date_recorded_week'] = [datetime.datetime.strptime(date,"%Y-%m-%d").weekday()  for date in d.date_recorded]
    d['date_recorded_offset_days'] = [(datetime.datetime(2014,1,1) - datetime.datetime.strptime(date,"%Y-%m-%d")).days for date in d.date_recorded]
    
    d = d.drop(labels="date_recorded",axis=1)
    
    def reduce_category_levels(x,max_levels=30):
        xx = x.value_counts(sort=True)
        if(len(xx)>max_levels):
            keeps = xx.index[:max_levels]
            x = [s if s in keeps else "Others" for s in x]
        return x    
    ## For those 3 categories, reduce to 30 lelves
    ## funder	1896
    ## ward	2092
    ## installer	2143        
    
    d.loc[:,"funder"] = reduce_category_levels(d.funder)
    d.loc[:,'ward'] = reduce_category_levels(d.ward)
    d.loc[:,'installer']=reduce_category_levels(d.installer)

In [58]:
xx= x.value_counts()

In [62]:
keeps = xx.index[:max_levels]
keeps

Index([u'Government Of Tanzania', u'Danida', u'Hesawa', u'Rwssp',
       u'World Bank', u'Kkkt', u'World Vision', u'Unicef', u'Tasaf',
       u'District Council', u'Dhv', u'Private Individual', u'Dwsp', u'Norad',
       u'Germany Republi', u'Tcrs', u'Ministry Of Water', u'Water', u'Dwe',
       u'Netherlands', u'Hifab', u'Adb', u'Lga', u'Amref', u'Fini Water',
       u'Oxfam', u'Wateraid', u'Rc Church', u'Isf', u'Rudep'],
      dtype='object')

In [72]:
y = [s if s in keeps else "Others" for s in x]

In [74]:
y[:10]

['Others',
 'Others',
 'Others',
 'Unicef',
 'Others',
 'Others',
 'Dwsp',
 'Rwssp',
 'Wateraid',
 'Others']

In [75]:
def reduce_category_levels(x,max_levels=30):
    xx = x.value_counts(sort=True)
    if(len(xx)>max_levels):
        keeps = xx.index[:max_levels]
        x = [s if s in keeps else "Others" for s in x]
    return x

In [76]:
ff = reduce_category_levels(d.funder)

In [83]:
aaa.values.

array([['Others'],
       ['Others'],
       ['Others'],
       ...,
       ['Others'],
       ['Others'],
       ['World Bank']], dtype=object)